/* Nav */

.nav {
    min-height: 42px;
    background-color: lightcoral;
    display: flex;
    justify-content: space-between;
}

.nav-list {
    padding-left: 0;
    margin: auto 16px;
}

.nav-item {
    color: #fff;
    list-style: none;
    margin: 0 8px;
    display: inline-block;
}
/* End Nav */

/* Column layout */

.column-layout {
    margin-top: 36px;
    padding: 12px 0;
    background-color: beige;
    display: flex;
}   

.column-item {
    padding: 0 16px;
    flex: 1;
}   

.sidebar-one {
    flex: 1;
}

.sidebar-two {
    flex: 3;
}

.main-column {
    flex: 2;
}

/* End column layout */

/* Feature layout */

.feature-layout {
    margin-top: 36px;
    display: flex;
    justify-content: space-around;
}

.feature-item {
    padding: 12px 16px;
    margin-top: 16px;
    flex-basis: 30%;
}

.feature-item:nth-child(1) {
    background-color: rgb(192, 227, 18);
}

.feature-item:nth-child(2) {
    background-color: rgb(227, 200, 18);
}

.feature-item:nth-child(3) {
    background-color: rgb(18, 200, 277);
}

/* End feature layout */


/* Center layout */

.center-layout {
    background-color: coral;
    margin: 36px auto 0 auto;
    padding: 32px 0;
    max-width: 640px;
    height: 360px;
    display: flex;
}

.center-layout__item {
    font-size: 42px;
    font-weight: 700;
    margin: auto;
}

/* End center layout */


/* Wrap layout */

.wrap-layout {
    margin-top: 36px;
    padding: 12px 0 32px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.wrap-layout__item {
    width: 148px;
    height: 90px;
    color: bisque;
    text-align: center;
    line-height: 90px;
    font-size: 48px;
    font-weight: 700;
    margin-top: 20px;
    background-color: darkgrey;
}

/* End wrap layout */

/* Footer */

.footer-layout {
    margin-top: 36px;
    display: flex;
    justify-content: space-around;
}

.footer-item {
    padding: 12px 16px;
    margin-top: 16px;
    flex-basis: 30%;
}

.footer-item:nth-child(1)
{
    background-color: crimson;
}

.footer-item:nth-child(2)
{
    background-color: yellowgreen;
}

.footer-item:nth-child(3)
{
    background-color: burlywood;
}

/* End Footer */